* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

#container {
    width: 1200px;
    margin: 0px auto;
    background-color: black;
    color: white;
}

#header {
    background-color: black;
    margin-left:10px;
    margin-right: 10px;
    height: 70px;
    color: white;
}

    #header h1 {
        display: inline-block;
        margin-left: 40px;
        color: orange;
        font-family: tahoma;
        font-size: 2.6em;
    }

    #header #logo {
        width: 850px;
        display: inline-block;
        padding-top: 5px;
    }


#login_register {
    display: inline-block; 
    vertical-align: top;
    width: 320px;
}

#logout {
    margin-left: 750px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}

    #login_register a {
        text-decoration: none;
        font-size: 0.9em;
    }

    #login_register input.submit_button {
        background: orange;
        border: 1px solid orange;
        padding: 1px 4px;
        border-radius: 4px;
        margin-bottom: 5px;
    }

    #login_register input.input_fields {
        background: white;
    }

a{
    color: white;
}
 
#corner {
    display: inline-block;
}
#body {
    padding: 10px;
}
#scroll {
 
    overflow: auto;
}
 
 
#likes {
    display: inline;
}

.thumbnails{
    width: 280px;
    vertical-align: top;
    border: 3px solid gray;
    margin-right: 11px
}

#bottom_pics{
    width: 1200px;
    margin-top: 15px;
    padding-left: 5px;
}

#blue {
    color: #99FFFF;
}

#nav {
    margin-left: 40px;
    margin-bottom: 10px;
}

    #nav ul li{
        display: inline-block;
        color: #D0D0D0;
        font-size: 0.8em;
        padding: 10px 20px;
        border-right: 1px solid #404040;
    }

    #nav ul li a {
        text-decoration: none;
    }

.register {
    width: 300px;
    height: 400px;
    background-color: white;
    color: black;
    margin: 0px auto;
}

#flashed_messages {
    margin-left: 866px;
    color: red;
}

#mainpic {
    display: inline-block;
    width: 950px;
}

    #mainpic img {
        height: 98%;
        width: 98%;
    }

#user_interaction{
    display: inline-block;
    vertical-align: top;
}

    #user_interaction input.submit_button {
        background: orange;
        border: 1px solid orange;
        padding: 1px 4px;
        border-radius: 4px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    #user_interaction #comments {
        margin-top: 20px;
    }


#comment_box{
    width: 221px;
    height: 400px;
    background-color: white;
    overflow: auto;
    color: black;
    font-size: 14px;
}

#blue_name {
    font-weight: bold;
    color: blue;
}    