<!doctype html> 
<html lang='en'>
<head>
	<title>Picture</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">

</head>
<body>
	<div id='container'>
		<div id='header'>

            <h1>Photo Dojo</h1>

			{% if 'email' not in session %}
                <div id="login_register">
                    <p>Login</p>
                    <form action="/login" method="POST">
                        <input class="input_fields" type="text" name="email" placeholder="email">
                        <input class="input_fields" type="password" name="password" placeholder="password">
                        <input id="submit_button" type="submit" value="submit">  
                    </form>
                    <a href="/register">Not a user? Register <span id="blue">here</span></a>
                </div>
            {% else %}
                <div id="welcome_cart">
                    <p>Welcome {{ session['first_name']}} &nbsp &nbsp | &nbsp &nbsp <a href="/purchase">Cart ( {{ session['total_items']}} )</a> &nbsp &nbsp | &nbsp &nbsp<a href="/logout">Logout</a></p>
                </div>

            {% endif %}
		</div>
		<div id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/category">Categories </a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div> <!--end of nav-->
		<div id='body'>
			<div id='about'>
                <h3> Our Vision and Business Idea </h3> 
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed mauris volutpat, porta lacus non, pretium ipsum. Nunc luctus tempus ex, rutrum sollicitudin ligula euismod et. Vivamus quis porttitor sem. Cras lacinia tellus eget ligula imperdiet facilisis. Fusce eros lorem, sollicitudin sed magna sed, malesuada fringilla mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut leo nunc, commodo quis tortor eu, vestibulum viverra sem. Cras feugiat eros quis tristique mattis. Nullam non sem odio. Sed aliquam lorem non varius fermentum. Aliquam sed ipsum vestibulum, lacinia erat vel, tristique risus. </p> 
                <br>
                <p>Nullam vehicula mauris nec ante gravida, vel sollicitudin elit rutrum. Donec a tempus metus, quis commodo elit. Donec sodales eget dui placerat commodo. Aliquam et erat mi. Donec a semper risus. Ut tristique malesuada massa at aliquet. Donec lacus diam, finibus sed velit vel, laoreet condimentum neque. Vestibulum efficitur varius ex sit amet auctor. In diam libero, tempor in lacinia non, viverra sed nisi. Ut maximus odio nec nibh viverra, id sagittis justo efficitur. Nulla facilisi. Cras eros nunc, hendrerit a enim id, pharetra dignissim dui. Morbi mi enim, tempor in mi nec, viverra aliquam felis. Quisque a magna quis ante sollicitudin blandit a ut mi. Curabitur at scelerisque risus, ac accumsan odio. Phasellus sodales velit quis tempus tincidunt.</p>
                <br>
                <p>Phasellus eget nulla eget lorem feugiat lacinia. Etiam eu ante tincidunt, dapibus velit a, tempus augue. Integer vel rutrum risus, ut ultricies erat. Sed lobortis suscipit mi a accumsan. Aenean vitae elit feugiat, consectetur orci id, tristique mauris. Quisque pellentesque nulla non quam vulputate semper. Mauris molestie venenatis purus id sodales. Sed sollicitudin mi eu commodo fringilla. Sed pretium nunc ac lobortis eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas id tellus nunc. Nunc accumsan, mi ac euismod tristique, neque lectus ullamcorper felis, ac rutrum ipsum enim nec ex. Ut malesuada luctus ipsum, nec ultricies tortor consequat nec. Nam ornare semper neque vitae aliquam.

</p>

            </div>
		</div>
	</div>
</body>
</html>



